{% extends "base.html" %}
{% load static %}
{% block title %}
    <title> Личный кабинет </title>
{% endblock title %}
{% block content %}
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="card col-12 p-3 mb-5 foodplan__shadow">
                        <h4 class="foodplan__backButton">
                            <strong><small><a href="#" class="link-secondary fw-light"></a></small></strong>
                        </h4>
                        <h2 class="text-center"><strong>Личный кабинет</strong></h2>
                    </div>
                    
                    <div class="card col-12 col-md-2 p-3 mb-3 d-flex flex-column align-items-center foodplan__shadow">
                        <div class="position-relative">
                            <img src="{% static 'img/test_avatar.png' %}" alt="" width="100" height="100" class="rounded-pill">
                            <span class="badge rounded-circle position-absolute bottom-0 end-0 foodplan__bg_green avatar__plus"><a href="#"
                                    class="link-dark text-decoration-none align-middle">+</a></span>
                        </div>
                        <h3 class="card-title text-center">{{user.username}}</h3>
                        <div class="d-block">
                            <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Выйти</button>
                        </div>
                    </div>

                    <div class="card col-12 col-md-10 p-3 mb-3 foodplan__shadow">
                            <ul class="nav nav-tabs">
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab1" class="btn shadow-none foodplan__tab-button active" data-bs-toggle="tab" data-bs-target="#data">Персональные данные</button>
                                </li>
                                <li class="nav-item foodplan__tab-item">
                                    <button id="tab2" class="btn shadow-none foodplan__tab-button" data-bs-toggle="tab" data-bs-target="#menu">Моё меню</button>
                                </li>
                                <li class="nav-item foodplan__tab-item flex-grow-1"></li>
                            </ul>
                            <div class="tab-content mt-2">
                                <div class="tab-pane fade show active" id="data">
                                    <form action="post">
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="exampleInputEmail1" class="form-label">Имя</label>
                                            </div>
                                        
                                            <input type="text" class="form-control" id="name" value={{user.username}}>
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" value="{{user.email}}">
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="exampleInputPassword1" class="form-label">Пароль</label>
                                            </div>
                                        
                                            <input type="password" class="form-control" id="password">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Подтверждение пароля</label>
                                            <input type="password" class="form-control" id="PasswordConfirm">
                                        </div>
                                        <div class="d-block">
                                            <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Сохранить
                                                изменения</button>
                                        </div>
                                    </form>
                                </div>
                                
                                <div class="tab-pane fade" id="menu">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="{% static 'img/circle1.png' %}" alt="" class="w-100">
                                        </div>
                                        
                                        <div class="col-10 col-md-10">
                                            <div class="row">
                                                {% if subscription %}
                                                <div class="col-12">
                                                    <h2>Подписка '{{subscription.get_duration_months_display}}'</h2>
                                                </div>

                                                <div class="col-md-12 col-lg-9">
                                                    <h6>С подпиской вам доступны рецепты с {{subscription.start_date}} до {{subscription.expiration_date}}</h6>
                                                </div>
                                                <div class="col-md-12 col-lg-3 text-muted d-flex flex-column justify-content-between">
                                                    <div class="d-flex flex-row justify-content-between">
                                                        <small>Аллергии: </small><small>нет</small>
                                                    </div>                                                    
                                                </div>
                                                {% else %}
                                                    <div class="col-12">
                                                        <h2>Вы пока не оплатили подписку</h2>
                                                        <div class="col-md-12 col-lg-9">
                                                            <h6>С подпиской у вас будет доступ к рецептам - <a href="{% url 'order' %}">выбрать подписку</a></h6>

                                                        </div>
                                                    </div>

                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
