{% extends "base.html" %}
{% load static %}
{% block title %}
  План питания на неделю, меню, рецепты, список покупок. Классическое меню, безуглеводное меню
{% endblock title %}
{% block content %}
<main style="margin-top: calc(2rem + 75px);">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 d-flex justify-content-center">
          <div class="card foodplan__card_borderless">
            <img src="{% static 'img/circle1.png' %}" alt="">
          </div>
        </div>
        <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
          <div class="row">
            {% for id, elements in recipes_elements.items %}
                <h2><a href="{% url 'recipe' id%}">{{ elements.title }}</a></h2>
              <div class="col-12 col-sm-6 d-flex flex-column justify-content-between">
                <div>{{ elements.text|safe }}</div>
              </div>
              <div class="col-12 col-sm-6">
                <small class="link-secondary">Ингредиенты:</small>
                <ul class="list-group list-group-flush">
                  {% for id, ingredient in elements.ingredients.items %}
                  <li class="list-group-item disabled"><small>{{ ingredient }}</small></li>
                  {% endfor %}
                </ul>
                <small class="link-secondary">Общая калорийность: {{ elements.calories }} ккал</small>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
