{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Рецепт {{recipe.title}} </title>
{% endblock title %}
{% block content %}
    <main style="margin-top: calc(2rem + 75px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <div class="card foodplan__card_borderless">
                            {% if recipe.image %}
                                <img src="{{recipe.image.url}}" alt="">
                            {% else %}
                                <img src="{% static 'img/circle1.png' %}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-8 d-flex flex-column justify-content-between">
                        <div class="row">
                            <h2>{{recipe.title}}</h2>
                            <div class="col-12 col-sm-6">
                                <h6>{{recipe.text}}</h6>
                            </div>
                            <div class="col-12 col-sm-6">
                                <small class="link-secondary">Ингредиенты:</small>
                                <ul class="list-group list-group-flush">
                                    {% for ingredient in ingredients %}
                                        <li class="list-group-item disabled"><small>{{ingredient}}</small></li>
                                    {% endfor %}
                                </ul>
                                <small class="link-secondary">Общая калорийность: {{recipe.calories}}</small>
                            </div>
                            <form  method="post" action="{% url 'recipe' recipe.pk %}">
                                {% csrf_token %} 
                                <div class="foodplan_green foodplan__border_green">
                                    <p>Оценить: {{likes}}
                                    <input style="border: none;" type="submit" class="like-button" name='like-button' value="+">
                                    {{dislikes}}
                                    <input style="border: none;" type="submit" class="like-button" name='like-button' value="-"></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
